body {
    color: #0B596C;
    /*font-family: 'Vollkorn', serif;*/
    font-size: 18px;
    font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.8em;
    
    
}

#hero h1 {
    font-family: "Helvetica Neue", Arial, sans-serif
}

#conf-description, h1, h2, .navbar {
    font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif
}

.block:nth-of-type(odd) {
    background-color: #E7F9FF;
}

.block {
    padding: 20px;    
}

.offset-block {
    padding: 20px;
    margin-top: 40px;
}

#hero, #conf-description, #legal {
    text-align: center;
}

#hero {
    color: white;
    padding-top: 80px;
}

#hero h1, #hero h2 {
    font-weight: normal;
}

#hero img {
    max-width: 80%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 449px) {
    #hero h1 {
        font-size: 35px;
    }

    #hero h2 {
        font-size: 30px;
    }

    #sponsors-wide .col img, #sponsors .col img {
        max-width: 250px;
        max-height: 150px;
        margin-bottom: 20px;
    }

    p.blurb {
        font-size: 18px;
        text-align: left;
    }
}

@media only screen and (min-width: 450px) {
    #hero h1 {
        font-size: 50px;
    }

    #hero h2 {
        font-size: 40px;
    }

    #sponsors-wide .col img {
        max-width: 400px;
        max-height: 300px;
    }

    #sponsors .col img {
        max-width: 200px;
        max-height: 300px;
    }

    
}

#hero h2 {
    color: #CFEFF9;
}

/* Gradient background */
#hero {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5aebc7+0,5fc9f8+100 */
background: rgb(90,235,199); /* Old browsers */
background: -moz-linear-gradient(top, rgba(90,235,199,1) 0%, rgba(95,201,248,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(90,235,199,1) 0%,rgba(95,201,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(90,235,199,1) 0%,rgba(95,201,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aebc7', endColorstr='#5fc9f8',GradientType=0 ); /* IE6-9 */
}

.jumbotron{
    position: relative;
    z-index:-101;
    margin-bottom: 0;
  }
  
#video-background { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.25;
}

.container, .jumbotron .container {
    max-width: 800px;    
}

#conf-description {
    font-size: 24px;
    line-height: 1.75;
}

.speaker {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.speaker-name {
    font-weight: bold;
    font-size: 0.8em;
}

.speaker-organisation {
    font-size: 0.8em;
}

.speaker-description {
    font-size: 0.8em;
}

.speaker-description-title {
    font-weight: bold;
}

.speaker-description-title::after {
    content: ": ";
    
    
}

.speaker-image {
    max-width: 100%;
    border-radius: 50%;    
    border: 3px solid #9accff;
    margin-bottom: 20px;
}



#sponsors .col , #sponsors-wide .col {
    text-align: center;
}



#cfp #submit-btn {
    text-align: center;
}

#schedule .talk-name {
    font-weight: bold;
}

.navbar-default {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#070d35+0,000ecf+100&0.25+0,0.25+100 */
    /*background: -moz-linear-gradient(top, rgba(7,13,53,0.25) 0%, rgba(0,14,207,0.25) 100%); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(7,13,53,0.25) 0%,rgba(0,14,207,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(7,13,53,0.25) 0%,rgba(0,14,207,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40070d35', endColorstr='#40000ecf',GradientType=0 ); /* IE6-9 */
    background: rgba(0, 27, 77, 0.5);
    border: none;
    color: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 25px;
}

.navbar-default .navbar-nav {
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #333;
    background-color: rgba(100%,100%,100%,0.25);
}

footer {
    text-align: center;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(100%,100%,100%,0.25);
}

.wasp-eggs {
    letter-spacing: 4px
}

/* adjust anchors to account for the height of the navbar */
a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

#session-speaker {
    font-style: italic;
    padding-top: 1em;
    padding-bottom: 1em;
}

#sponsors .col {
    padding-bottom: 40px;
}

.navbar #call-to-action {
    background-color: #05aaff;
}

/* Map popup */

#map h1 {
    text-align: center;
    font-size: 15pt;
}

#map h2 {
    text-align: center;
    font-size: 12pt;
}

#footer-text {
    text-align: left;
}

h1 {
    margin-top: 0 !important;
    margin-bottom: 20px;
}

p#submit-btn {
    margin-top: 20px;
}

.small-print {
    font-size: 11pt;
    color: rgb(115, 137, 159);
}

.sponsor-note {
    font-size: 15px;
    color: #8da8b2;
}

.nowrap {
    white-space: nowrap;
}

.venue-address p {
    line-height: 1.5em;
    margin-bottom: 4px;
    font-size: 15px;
}

.venue-address {
    margin-bottom: 20px;
}

#conf-description p:last-child {
    margin-bottom: -10px;
}

#twitter-fallback {
    font-size: 15px;
}

footer p {
    font-size: 13px;
    line-height: 1.8em;
}

p.cfp-note {
    font-size: 15px;
    text-align: center;
}

.gallery img {
    max-width: 100%;
    margin: 10px;
}

span.old-cfp-date {
    text-decoration: line-through;
    opacity: 0.25;
}

#sessions li {
    font-size: 0.8em;
}

#sessions #moretocome {
    font-style: italic;
    opacity: 0.5;
}