[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
markdown = "*"
python-dateutil = "*"
parsepy = {git = "https://github.com/milesrichardson/ParsePy.git"}
python-dotenv = "*"
tqdm = "*"

[dev-packages]
python-dotenv = {version = "*", extras = ["cli"]}

[requires]
python_version = "3.7"
