{% extends "base.html" %}

{% block bodyclass%}index{% endblock %}

{% block content %}
  <div class="jumbotron" id="hero">
    <div class="container">
      <img src="/images/DevWorldLogo.png" />
      <h1>/dev/world/2019</h1>
      <h2>2-4 September</h2>
      <h2>Melbourne</h2>

    </div>
  </div>

    <!-- CFP -->
  <a class="anchor" id="cfp"></a>
  <div class="container-fluid block">
    <div class="container" id="cfp">
      <h1>Call for Presentations</h1>
      <p>
        Come and speak at /dev/world! We're seeking presentations on topics of interest to developers building amazing experiences for iOS, macOS, and other Apple platforms, using a range of technologies, including Swift, UI frameworks, best practices, game development, and beyond. 
      </p>
      <p>
        We're looking for talks from developers, designers, tinkerers, hackers, and makers of all skills levels, and at all levels of public speaking experience. 
      </p>
      <p>Our Call for Presentations is open until the <strong>5th of June</strong>, at 5 PM Melbourne time.</p>

      <p id="submit-btn">
        <a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSfMy_CVigYeioDJ9mpoLX41TuVGbyDBmBrG-aqFAfX4ZlmENw/viewform"
          role="button">Submit Your Talk</a>
      </p>
    </div>
  </div>		

{% endblock %}