{% extends "base.html" %}

{% block bodyclass%}index{% endblock %}

{% block content %}
  <div class="jumbotron" id="hero">
    <div class="container">
      <img src="/images/DevWorldLogo.png" />
      <h1>/dev/world/2019</h1>
      <h2>2-4 September</h2>
      <h2>Melbourne</h2>

    </div>
  </div>

    <!-- CFP -->
  <a class="anchor" id="cfp"></a>
  <div class="container-fluid block">
    <div class="container" id="cfp">
      <h1>Call for Presentations</h1>
      <p>
        Our call for presentations has closed. We'll be in touch with those who submitted a talk soon!
      </p>
      <p>Our late-breaking CFP, for talks on newer technologies, or developments arising after Apple's WWDC conference June, will be open in July.</p>      
    </div>
  </div>		

{% endblock %}