{% extends "base.html" %}

{% block title %}Schedule - /dev/world/2019{% endblock %}
{% block content %}

<div class="container-fluid offset-block block">
    <div class="container" id="timetable">
    <div class="row">
    <h1>Schedule</h1>
    </div>

        {% for item in schedule|dictsort %}
        <div class="row row-equal">
            <h2>{{item[0]|parsedate("%A, %d %B")}}</h2>            
        </div>

        {# Time Blocks #}
        {% for group in item[1]|dictsort %}
        <div class="row timetable-time-group">
            <div class="col-12 col-md-2 text-center timetable-time"><span class="nowrap strong">{{group[0]|parsedate("%-I:%M %p")}}</span> to <span class="nowrap">{{group[1][0].end|parsedate("%-I:%M %p")}}</span></div>
       
        {# Events at this time #}
        {% for event in group[1]|sort(attribute="location") %}
        
            {% if event.type == "talk" or event.type == "workshop" %}
            {% set col = "col-md-5"%}
            {% else %}
            {% set col = "col-md-10"%}
            {% endif %}

            {% if not loop.first and "merge_key" in event %}
            {% set offset = "offset-md-2" %}
            {% else %}
            {% set offset = "" %}
            {% endif %}
            <div class="timetable-event-container col-12 {{col}} {{offset}} text-center" >

            <div class="timetable-event" data-type="{{event.type}}">

                <div class="timetable-event-name">

                {# Show labels for all events that aren't regular talks or admin #}
                {% if event.type != "talk" and event.type != "admin" %}
                {{event.type | replace("_", " ") | title}}:
                {% endif %}
                
                {% if "description" in event %}
                <a href="/sessions/{{event.id}}.html">
                {% endif %}
            
                {{event.title}}

                {% if "description" in event %}
                </a>
                {% endif %}

                </div>
            
            {% if "speaker" in event %}
            <div class="timetable-event-speaker">{{event.speaker.name}}</div>
            {% endif %}

            </div>
            </div>
        {% endfor %}
        </div>
        
        {% endfor %}

        {% endfor %}
    
    </div>
</div>
{% endblock %}